.todo-form {
  margin: 60px;
  width: 300px;
}

.todo-input,
.todo-textarea {
  width: 100%;
  background-color: #f2f2f2;
  border: none;
  border-radius: 3px;
  line-height: 30px;
  outline: none;
  padding: 10px;
  font-size: 14px;
}
.todo-input {
  height: 20px;
}
.label {
  margin-bottom: 0;
  font-size: 14px;
  color: #a09b9b;

}
.todo-textarea {
  padding-top: 2px;
  resize: none;
  height: 60px;
}
.todo-btn {
    border: 1px solid #a1a0a09a;
    width:80px;
    height:23px;
    cursor: pointer;
}

.todo-btn:nth-child(2){
    width: 100px;
}

.todo-btn:nth-child(1){
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;}

.todo-btn:nth-child(3){
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.todo-btn:hover{
    background-color: #7975759a
}

.selected{
    background : #27ae60;
    color: #fff;
    border:none;
}

.selected:hover{
    background-color: #27ae60;
}

.btns{
    margin-top: 25px;
}

.cancel-btn,.create-btn{
    border: none;
    height: 30px;
    padding: 0 10px;
    margin-right: 20px;
    border-radius: 5px;
    font-size:15px;
}

.create-btn{
    background-color:#27ae60;
    color: #fff;
}

.cancel-btn:hover,.create-btn:hover{
    cursor: pointer;
}
.cancel-btn:hover{
    background-color: #7975759a
}
.create-btn:hover{
    background-color: #17693a
}