.navbar{
    width:100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    background-color: #F2F2F2;
}


.navbarItemsLeft{
    list-style: none;
    margin-right: 20px;
    height: 100%;
}


.button{
    width: 150px;
    border: none;
    font-size:15px;
    border-radius: 6px;
    padding: 5px 10px;
    background : #27ae60;
    color: #fff;
    align-items:center;
    justify-content:center;
    margin: 0px 10px;
}

.button:hover{
  background: #126133;
  cursor: pointer;
}
