.sideNav{
    height:100%;
    width: 250px;
    border-right: 2px solid #27ae5faf;
}

.sideNavList{
    height:100%;
    width: 250px;
    max-width: 600px;
    padding:0;
    margin:0;
    

}

.sideNavList .sideNavListItem{
    max-width: 100%;
    height: 60px;
    list-style: none;
    align-items: center;
}

li.sideNavListItem{
    margin-top:10px;
    background-color:#F2F2F2;
    display:flex;
    justify-content:center;
    align-items:center;
}

.myBtn{
    width: 150px;
    border: none;
    font-size:15px;
    border-radius: 6px;
    padding: 5px 10px;
    background : #27ae60;
    color: #fff;
    display: flex;
    align-items:center;
    justify-content:center;
}

.myBtn:hover{
  background: #126133;
  cursor: pointer;
}

.userProfile{
    display: flex;
    align-items:center;
    justify-content:center;
    padding:10px;
}
.userPicture{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url('../../../assets//profile.jpg');
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center;  
    border: 1px solid #27ae60;
    cursor: pointer;

}

.userDetailsItems{
    list-style: none;
    padding:10px;
}

.username{
    font-size:15px;
    font-weight: 600;
}

.email{
 color:#706b6b;   
 font-size:12px;
}


@media screen and (max-width: 600px) {
    .sideNav {
      visibility: hidden;
      clear: both;
      float: left;
      margin: 10px auto 5px 20px;
      width: 28%;
      display: none;
    }
  }