.todoList {
  max-height: 85vh;
  min-height: 100px;
  width: 350px;
  margin: 5px;
  margin-top: 20px;
  border: 1px solid #d1d1d3;
  border-radius: 10px;
  background-color: #f8f8f9;
  padding: 0;
  overflow: hidden;
  margin-bottom: auto;


}

.todoListBody {
  width: 100%;
  max-height: 75vh;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom:10px;
}


.listHeader {
  text-align: center;
  height: 40px;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: bolder;
  line-height: 30px;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.todo-branch {
  background-color: #f2c94c;
  color: #222121;
  border: 1px solid #f2c94c;
}

.progress-branch {
  background-color: #27ae60;
  color: #fff;
}

.done-branch {
  background-color: #2f80ed;
  color: #fff;
}
